.container {
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
}
.item:nth-child(1) {
  /* background-color: red; */
  height: content;
  width: content;
}
.item:nth-child(2) {
  /* background-color: blue; */
  top: 0;
  margin-left: 1rem;
  height: content;
  width: 36rem;
}
.item:nth-child(3) {
  /* background-color: green; */
  top: 0;
  flex-grow: 0;
  max-width: calc(100% / 3);
  flex-basis: calc(100% / 3);
  margin-left: 1rem;
  max-width: 18rem;
  max-height: calc(100vh - 200px);
  position: sticky;
  overflow: auto;
}
